
/* Utils */
.center-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/* Cards */
.mdl-card {
  width: 688px;
}
.home-card-wide > .mdl-card__title {
  color: #fff;
  height: 450px;
  background: url('../img/photo-crop.png') center / cover;
}
